.card {
  :global(.ant-card-body) {
    padding: 1.2rem !important;
  }

  .meta {
    margin-bottom: 1rem;

    :global {
      .ant-card-meta-avatar {
        padding-top: 0.05rem;
        padding-right: 0.5rem;
      }
      .ant-card-meta-title {
        font-weight: 600;
      }
    }
  }

  .description {
    width: "90%";
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.2rem;
  }

  .footer {
    margin-top: 0.5rem;
    display: flex;
    justify-content: flex-end;
  }
}
