.container {
  padding: 0 2rem 2rem;

  .topBar {
    display: flex;
    justify-content: space-between;
  }

  .search {
    :global(.ant-input-affix-wrapper) {
      width: 25rem;
      min-width: 10rem;
    }
  }
}
