.container {
  padding: 0 2rem 2rem;
  height: 80%;

  .topBar {
    display: flex;
    justify-content: space-between;
  }

  .search {
    :global(.ant-input-affix-wrapper) {
      width: 20rem;
      min-width: 6rem;
    }
  }

  .logsList {
    padding-top: 1rem;
  }
}

@media (max-width: 1000px) {
  .container {
    padding: 0 0 2rem;
  }
}
