.header {
  height: 10vh;
  background: none;
  padding-left: 1rem;
}

.content {
  display: flex;
  flex-direction: row;

  .schedules {
    min-width: 25rem;
    max-width: 25rem;
    height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;
    background: none;
  }

  .logs {
    height: 90vh;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

@media (max-width: 850px) {
  .content {
    flex-direction: column;

    .schedules {
      height: 40vh;
      max-width: none;
    }
  }
}
