.header {
  height: 10vh;
  background: none;
}

.sider {
  height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
  background: none;
  width: auto !important;
  max-width: none !important;
  flex: none !important;
}

.content {
  height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
}
