.container {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;

  .left {
    .title {
      font-size: 3rem;
      margin: 0;
      font-weight: 600;
      color: white;
    }
  }

  .right {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .barsIcon {
      font-size: 2.5rem;
      cursor: pointer;

      path {
        color: white;
      }
    }
  }
}

@media (max-width: 400px) {
  .container {
    .left {
      .title {
        font-size: 2rem;
      }
    }

    .right {
      .barsIcon {
        font-size: 1.5rem;
      }
    }
  }
}

@media (max-width: 300px) {
  .container {
    flex-direction: column;
  }
}
