.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 1rem;
  width: 20vw;
  min-width: 20rem;

  > div {
    margin-bottom: 1rem;
  }
  p {
    margin: 0;
  }
}
