.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 1rem;
  width: 100%;

  > div {
    margin-bottom: 1rem;
  }
  p {
    margin: 0;
  }
}

@media (max-width: 850px) {
  .container {
    max-width: none;
    min-width: none;
    width: 100%;
  }
}
