$transitionLength: 0.5s;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: $transitionLength;
  background: linear-gradient(to bottom right, #002f4b, #d3705d);
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
  opacity: 0.6;
}

.text-light {
  color: #f8f9fa;
}

.ant-layout {
  background: none;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

// Custom style and colors for ant components

.ant-divider {
  color: white !important;
  border-top-color: white !important;
}

.ant-input,
.ant-input-suffix path {
  color: white;
}
